<header class="header">
	<h1 class="header-logo">Video Portal</h1>
	<nav>
		<nav-item route="'/'">Home</nav-item>
		<nav-item route="'/videos'">Videos</nav-item>

	</nav>
	<!--<div >-->
		<div class="header-auth header-link" ng-if="currentUser">
			<h3 ng-bind="currentUser"></h3>
			<!---->

			<span class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
			<div class="header-dropdown">
				<span class="header-link" ng-click="logOut()">
					Log Out
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</span>
			</div>
		</div>
		<div class="header-auth header-link" ng-if="!currentUser" ng-click="logIn()">
			<h3>Log In</h3>
			<span class="user-icon"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
			<!--<div class="user-container">-->
				<!---->

			<!--</div>-->

			<!--<div class="user-container">-->


			<!--</div>-->

		</div>
	<!--</div>-->
</header>