<header class="header">
	<h1 class="header-logo">Video Portal</h1>
	<nav>
		<nav-item route="'/'">Home</nav-item>
		<nav-item route="'/videos'">Videos</nav-item>

	</nav>
	<div class="header-auth">
		<div ng-show="currentUser">
			<div class="user-container">
				<h3>
					<span>Hello, {{currentUser}}</span>
				</h3>
				<span class="header-link" ng-click="logOut()">Log Out</span>

			</div>
			<span class="user-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
			<!--<div class="slider">-->
				<!---->
			<!--</div>-->
			<!---->

		</div>
		<div ng-hide="currentUser">
			<h3 class="header-link" ng-click="logIn()">
				<span>Log In</span>
				<span><i class="fa fa-sign-in" aria-hidden="true"></i></span>
			</h3>
			<!--<div class="user-container">-->


			<!--</div>-->

		</div>
	</div>
</header>