<div class="overlay" ng-show="loginActive">
	<div class="overlay-dialog" ng-controller="LoginCtrl">
		<h3 class="overlay-heading">Log In</h3>
		<form class="form overlay-form">
			<div class="form-item">
				<label>User</label>
				<input type="text" />
			</div>
			<div class="form-item">
				<label>Password</label>
				<input type="password" />
			</div>
		</form>
		<div class="overlay-buttons">
			<button class="button" type="button">Cancel</button>
			<button class="button button-primary" type="button">Log In</button>
		</div>
	</div>
</div>